/* ################################ */
/* reset */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'K2D', sans-serif;
  user-select: none;
}

.centerize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
  touch-action: manipulation;
}

body {
  height: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  position: relative;
  background-color: #fff4ee;
  width: 500px;
  height: 700px;
  overflow: hidden;
  transform-origin: top left;
}

/* ################################ */
/* scenes */

div.scene, div.cover {
  display: none;
  position: absolute;
  width: 500px;
  height: 700px;
  left: 0; top: 0;
}

#cover-fade {
  background: black;
  opacity: 1;
  transition: opacity 1s;
}
#cover-fade.faded {
  opacity: 0;
}

/* ################################ */
/* preload scene */

#scene-preload > div {
  height: 100%;
}

#pane-loading {
  font-size: 30px;
  text-align: center;
}

/* ################################ */
/* menu scene */

.poster {
  border: 1px solid black;
  width: 90px;
  height: 120px;
  float: left;
}
.poster.completed {
  background: yellow;
}

#reset-button {
  position: absolute;
  left: 5px;
  bottom: 5px;
}

/* ################################ */
/* game scene */


